<% title "User Dashboard" %>

<% if can? :manage, @users %>
<div class="users">
	<% @users.each do |user| %>
	  <div class="listagem">
	    <h2><%= link_to user.email, user %></h2>
	    <%= link_to "Edit", edit_user_path(user) %> |
	    <%= link_to "Destroy", user, :method => :delete, :confirm => "Are you sure?" %>
	  </div>
	<% end %>
	</div>
	</br>
	<%= link_to 'New user', new_user_path, :class => "new" %>
<% else %>
  <p>Not unauthorized</p>
<% end %>