<div class="propagandas">
<% @propagandas.each do |propaganda| %>
  <div class="listagem">
    <h2><%= link_to propaganda.nome, propaganda %></h2>
    <%= link_to "Edit", edit_propaganda_path(propaganda) %> |
    <%= link_to "Destroy", propaganda, :method => :delete, :confirm => "Are you sure?" %>
  </div>
<% end %>
</div>
</br>
<%= link_to 'New propaganda', new_propaganda_path, :class => "new" %>