<p>
  <b>Nome:</b>
  <%= @propaganda.nome %>
</p>

<p>
	<%= image_tag @propaganda.image.url %>
</p>

<% if can? :manage, @propaganda %>
	<%= link_to 'Edit', edit_propaganda_path(@propaganda) %> |
<% end %>
<%= link_to 'Back', propagandas_path %>
