<p>
  <b>Nome:</b>
  <%= @propaganda.nome %>
</p>

<p>
	<%= image_tag @propaganda.image.url %>
</p>

<%= link_to 'Edit', edit_propaganda_path(@propaganda) %> |
<%= link_to 'Back', propagandas_path %>
