<h2 class="top-title">Inserir novo usuário</h2>

<%= simple_form_for @user, :url => user_index_path, :html => {:id => "insert-form"}   do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>