<div class="perfis">
<% @perfis.each do |perfil| %>
  <div class="listagem">
    <h2><%= link_to perfil.descricao, perfil %></h2>
    <%= link_to "Edit", edit_perfil_path(perfil) %> |
    <%= link_to "Destroy", perfil, :method => :delete, :confirm => "Are you sure?" %>
  </div>
<% end %>
</div>
</br>
<%= link_to 'New Perfil', new_perfil_path, :class => "new" %>